<% include partials/header %>


  <% movies.results.forEach((movie) => { %>
    
    <div class="media justify-content-center text-center">
      <img class="align-self-center mr-3" src="https://image.tmdb.org/t/p/w500/<%= movie.poster_path %>" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">
          <a href='/movie/<%= movie.id %>'>
          <%= movie.title %></h5>
          </a>
        <p>
          <%= movie.overview %>
        </p>
        <p class="mb-0">Rating:
          <%= movie.vote_average %>
        </p>
      </div>
    </div>
  
    <% }) %>





      <% include partials/footer %>